<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
>
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
</head>
<body>
<th:block layout:fragment="content">

    <h2 class="mb-4">장바구니 목록</h2>
    <table>  <!---->
        <thead>

            <th>
                <input type="checkbox">
            </th>

            <th>상품정보</th>
            <th>상품금액</th>

        </thead>
        <tbody>

            <tr>

            </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>